body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Adding it seperately because every hyper-link needs their link underlining removed. */
a {
  text-decoration: none;
  color: inherit;
}

/* It is LIST style type and not TEXT style type to remove the bullets.*/
ul {
  list-style-type: none;
  padding: 0.5vw;
  line-height: 2.5vw;
}

/* Have to specify height and width so that the text in head does not overlap with it. */
.image img {
  background-color: rgb(112, 101, 99);
  padding: 2vw 5vw;
  padding-right: 5.8vw;
  margin-left: 3vw;
  height: 15vw;
  width: 11vw;
  float: left;
}

.head {
  margin-top: 2vw;
  padding: 2vw;
  padding-left: 28vw;
  height: 15vw;
  font-size: 2vw;
  background-color: rgb(116, 131, 134);
  color: rgb(240, 240, 240);
}

/* Float it left so it does not overlap with the head text. */
.profile {
  font-size: 1.2vw;
  float: left;
  margin-left: 3vw;
  padding: 1vw;
  width: 20%;
  height: 75vw;
  text-align: justify;
  background-color: rgb(112, 101, 99);
  color: rgb(240, 240, 240);
 }

.profile button {
  background-color: #6A3937;
  border: none;
  color: white;
  padding: 1vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  cursor: pointer;
}

.quote {
  float: left;
  text-align: center;
  font-size: 2vw;
  max-width: 70%;
  padding: 2vw;
  padding-bottom: 1vw;
}

.quote cite {
  text-align: right;
  float: right;
  font-size: 1.5vw;
  padding-right: 2vw;
}

.content {
  font-size: 1.3vw;
  float: left;
  padding: 2vw;
  padding-top: 0vw;
}