body {
  margin: 0;
  padding: 0;
  font-family: Cambria, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.head {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #003049;
  color: #ffffff;
}

.image {
  text-align: center;
  padding-top: 40px;
  background-color: #003049;
}

.image img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 150px;
  border-radius: 50%;
}

.profile {
  text-align: center;
  font-size: 15px;
}

.profile button {
  background-color: #D62828;
  border: none;
  color: #ffffff;
  padding: 10px 10px;
  margin: 20px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.profile h2,
.profile h3 {
  background-color: #EAE2B7;
  margin: 0 40px;
}

.profile p {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 20px;
}

.profile ul {
  text-align: left;
  padding-left: 40px;
  line-height: 25px;
}

.quote blockquote {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
}

.quote {
  text-align: right;
  font-size: 15px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: #eeefff;
  border: 3px inset;
}

.content {
  text-align: center;
  font-size: 15px;
}

.content h3 {
  background-color: #EAE2B7;
  margin: 0 40px;
}

.content ul {
  text-align: left;
  padding-left: 40px;
  line-height: 25px;
}
