body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 5px;
  line-height: 20px;
}

.image img {
  background-color: rgb(112, 101, 99);
  padding: 10px 20px;
  padding-right: 29px;
  margin-left: 15px;
  height: 75px;
  width: 55px;
  float: left;
}

.head {
  margin-top: 15px;
  padding: 20px;
  padding-left: 140px;
  height: 75px;
  font-size: 20px;
  background-color: rgb(116, 131, 134);
  color: rgb(240, 240, 240);
}

.profile {
  font-size: 14px;
  float: left;
  margin-left: 15px;
  padding: 10px;
  width: 20%;
  min-height: 100%;
  overflow: auto;
  text-align: justify;
  background-color: rgb(112, 101, 99);
  color: rgb(240, 240, 240);
}

.profile button {
  background-color: #6A3937;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.quote {
  float: left;
  text-align: center;
  font-size: 20px;
  max-width: 70%;
  padding: 20px;
  padding-bottom: 10px;
}

.quote cite {
  text-align: right;
  float: right;
  font-size: 15px;
  padding-right: 20px;
}

.content {
  font-size: 16px;
  float: left;
  padding: 20px;
  padding-top: 0px;
  width: 65%;
}
